@import "../../_globalColor";

.footer-text {
  text-align: center;
  color: $subTitle !important;
  font-size: 14px;
  margin-bottom: 2px;
}

.footer-copyright {
  text-align: center;
  color: $subTitle;
  font-size: 12px;
  opacity: 0.7;
  margin-top: 0;
}

.footer-heart {
  font-size: 16px;
}

.dark-mode {
  color: $textColorDark !important;
}

.footer-div {
  margin-top: 3rem;
  padding-bottom: 1.5rem;
  border-top: 1px solid $lightBorder1;
  padding-top: 1.5rem;
}
